[submodule "gameEngineTest\\vendor\\spdlog"]
	path = gameEngineTest\\vendor\\spdlog
	url = https://github.com/gabime/spdlog
[submodule "gameEngine\\vendor\\GLFW"]
	path = gameEngine\\vendor\\GLFW
	url = https://github.com/TheCherno/glfw
[submodule "gameEngineTest\\vendor\\GLFW"]
	path = gameEngineTest\\vendor\\GLFW
	url = https://github.com/TheCherno/glfw
[submodule "imgui"]
	path = gameEngineTest\\vendor\\imgui
	url = https://github.com/TheCherno/imgui
